body {
  background-color: #df0bcd;
  color: #ccc;
}
.App {
  width: 30%;
  margin: 80px auto;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(54, 54, 54);
  padding: 1em;
}
input,
button {
  border: none;
  outline: none;
}
form {
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
}
.TxtName {
  padding: 0.7em 0;
  width: 80%;
  text-align: center;
  border-radius: 3px 0 0 3px;
}
.BtnAdd {
  cursor: pointer;
  padding: 0.7em 2em;
  border-radius: 0 3px 3px 0;
  background-color: #df0bcd;
  color: #fff;
  font-weight: bold;
}
.ListTasks {
  width: 100%;
  height: 250px;
  overflow-y: scroll;
}
.task {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.buttons {
  width: 70px;
  display: flex;
  justify-content: space-between;
}
.Btn {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

@media (max-width:768px){
  .App{
    width: 50%;
  }
}
@media (max-width:480px){
  .App{
    width: 80%;
  }
}